{% extends "aplicacion/index.html" %}

{% block inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'home' %}">Inicio</a></li>
{% endblock inicio %}

{% block  titulo%}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">Acrónimos</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">En esta sección, podrás consultar un glosario de acrónimos específicos de subtitulado.</p>
        <section class="page-section bg-primary text-white mb-0" id="about">
    </div>
</header>
{% endblock titulo%}

{% block contenido %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Términos en inglés</th>
            <th>Términos en español</th>
        </tr>
    </thead>
    <tbody>
    {% for a in acrónimos  %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.acrónimo }}</td>
            <td>{{ a.definición }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
            
{% endblock contenido %}