{% extends "aplicacion/index.html" %}

{% block inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-2 rounded" href="{% url 'home' %}">Inicio</a></li>
{% endblock inicio %}

{% block  titulo%}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">Glosarios</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">En esta sección, encontrarás listas de sonidos que te ayudarán a crear subtítulos precisos.</p>
        <section class="page-section bg-primary text-white mb-0" id="about">
    </div>
</header>
{% endblock titulo%}

{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Glosarios</h2></td>
        <td>
            <a
            href="{% url 'glosariosForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>
        <td>
            <a
            href="{% url 'buscarGlosarios' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa-solid fa-magnifying-glass" title="Buscar"></i> </i>
            </a>
        </td>  
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Término en inglés</th>
            <th>Término en español</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for g in glosarios %}
        <tr>
            <td>{{ g.id }}</td>
            <td>{{ g.Término_EN }}</td>
            <td>{{ g.Término_SP }}</td>
            <td>
                <a
                  href="{% url 'glosariosUpdate' g.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'glosariosDelete' g.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>            
            
        </tr>
    {% endfor %}
    </tbody>
</table>

            
{% endblock contenido %}