{% extends "aplicacion/index.html" %}

{% block inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'home' %}">Inicio</a></li>
{% endblock inicio %}

{% block  titulo%}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">Herramientas</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">En esta sección, encontrarás una lista de herramientas que te ayudarán a maximizar tu experiencia.</p>
        <section class="page-section bg-primary text-white mb-0" id="about">
    </div>
</header>
{% endblock titulo%}

{% block  contenido%}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Software</th>
            <th>Características</th>
            <th>Enlace de descarga</th>
        </tr>
    </thead>
    <tbody>
    {% for h in herramientas  %}
        <tr>
            <td>{{ h.id }}</td>
            <td>{{ h.nombre }}</td>
            <td>{{ h.caract }}</td>
            <td>{{ h.enlace }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido%}