{% extends "aplicacion/index.html" %}

{% block inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-2 rounded" href="{% url 'home' %}">Inicio</a></li>
{% endblock inicio %}

{% block  titulo%}
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="masthead-heading text-uppercase mb-0">Herramientas</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">En esta sección, encontrarás una lista de herramientas que te ayudarán a maximizar tu experiencia.</p>
        <section class="page-section bg-primary text-white mb-0" id="about">
    </div>
</header>
{% endblock titulo%}

{% block  contenido%}

<table>
    <tr>
        <td width="200"><h2>Herramientas</h2></td>
        <td>
            <a
            href="{% url 'herramientasForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>  
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Enlace</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for h in herramientas  %}
        <tr>
            <td>{{ h.id }}</td>
            <td>{{ h.Nombre }}</td>
            <td>{{ h.Descripción }}</td>
            <td>{{ h.Enlace }}</td>
            <td>
                <a
                  href="{% url 'herramientasUpdate' h.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'herramientasDelete' h.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>  
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido%}